*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #c5c5c5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reg_admin{
    width: 400px;
    height: 340px;
    background: #a59b9b;
    margin: auto;
    margin-top: 17%;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #0F69B4;
    color: rgb(255, 0, 0);
    text-align: center;
}

.reg_admin h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    color: #0F69B4;
}

.dato {
    width: 100%;
    border: 1px #017bab;
    margin-bottom: 15px;
    padding: 10px 10px;
    background: #bbb6b6;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 10%;
    font-family: 'Roboto' , sans-serif;
    color: rgb(245, 245, 245);
    background: #017bab;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    text-decoration: none;
}
.boton:hover{
    background: rgba(179, 97, 97, 0.548);
}



.reg_admin p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
    margin-top: 20px;
}

.problemas {
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
}

.problemas:hover {
    text-decoration: underline;
}
